*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.sln
*.v12.suo
*.tlog


**/Debug/
*/Debug/
/2D-cmd-dungeoncrawler/Debug/
/2D-cmd-dungeoncrawler/Debug
2D-cmd-dungeoncrawler/Debug/
2D-cmd-dungeoncrawler/Debug