*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.sln
*.v12.suo
*.tlog
*.log
*.pdb
*.ilk
*.txt
*.lastbuildstate
*.obj
*.VC.opendb
*.iobj
*.ipdb
*.suo
*.idb
*.db

Dungeoncrawler/Debug/
Dungeoncrawler/Release/
Dungeoncrawler/.vs/
Dungeoncrawler/Dungeoncrawler/

Debug/Dungeoncrawler_Save_DungeonSystem.txt
Release/Dungeoncrawler_Save_DungeonSystem.txt

Debug/Dungeoncrawler_Save_Player.txt
Release/Dungeoncrawler_Save_Player.txt