*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.sln
*.v12.suo
*.tlog
*.log
*.pdb
*.ilk
*.txt
*.lastbuildstate
*.obj
*.VC.opendb
*.iobj
*.ipdb
*.suo
*.idb
*.db

2D-cmd-dungeoncrawler/Debug/
2D-cmd-dungeoncrawler/Release/
2D-cmd-dungeoncrawler/.vs/
2D-cmd-dungeoncrawler/2D-cmd-dungeoncrawler/

2D-cmd-dungeoncrawler/Debug/Dungeoncrawler_Save_DungeonSystem.txt
2D-cmd-dungeoncrawler/Release/Dungeoncrawler_Save_DungeonSystem.txt

2D-cmd-dungeoncrawler/Debug/Dungeoncrawler_Save_Player.txt
2D-cmd-dungeoncrawler/Release/Dungeoncrawler_Save_Player.txt